@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ll84fc');
	src:url('fonts/icomoon.eot?#iefixll84fc') format('embedded-opentype'),
		url('fonts/icomoon.woff?ll84fc') format('woff'),
		url('fonts/icomoon.ttf?ll84fc') format('truetype'),
		url('fonts/icomoon.svg?ll84fc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-contact_envelope:before {
	content: "\e600";
}

.icomoon-demos:before {
	content: "\e601";
}

.icomoon-develop_platform:before {
	content: "\e602";
}

.icomoon-discounts:before {
	content: "\e603";
}

.icomoon-doc_scanner:before {
	content: "\e604";
}

.icomoon-facebook_icon:before {
	content: "\e605";
}

.icomoon-facility_cost:before {
	content: "\e606";
}

.icomoon-get_quote:before {
	content: "\e607";
}

.icomoon-integration:before {
	content: "\e608";
}

.icomoon-labor_cost:before {
	content: "\e609";
}

.icomoon-leaf:before {
	content: "\e60a";
}

.icomoon-linkedin_icon:before {
	content: "\e60b";
}

.icomoon-location:before {
	content: "\e60c";
}

.icomoon-lock:before {
	content: "\e60d";
}

.icomoon-mail_address:before {
	content: "\e60e";
}

.icomoon-money:before {
	content: "\e60f";
}

.icomoon-personel:before {
	content: "\e610";
}

.icomoon-phone:before {
	content: "\e611";
}

.icomoon-printing_cost:before {
	content: "\e612";
}

.icomoon-reporting:before {
	content: "\e613";
}

.icomoon-scanned_images:before {
	content: "\e614";
}

.icomoon-storage:before {
	content: "\e615";
}

.icomoon-support_tools:before {
	content: "\e616";
}

.icomoon-thumbs_up:before {
	content: "\e617";
}

.icomoon-white_papers:before {
	content: "\e618";
}

.icomoon-workflow:before {
	content: "\e619";
}

