
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
// @import url('fa/font-awesome.less');
 @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Author: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */
section{ max-width: 1000px; width: 90%; margin: 0 auto; }
section > article{ margin-bottom: 2.65em; }
.section-title{ .block; font-size: 1em; border-bottom: 1px solid @style-border; color: @style-border; padding: 1em 0; margin-bottom: 1.5em; }

/*********************
COLOR
**********************/

.swatch-colors{  
	li{ width: 5em; border: 1px solid @style-border; padding: .3em; }
}
.x-swatch{ height: 4em; }

#swatch-1{ background-color: @main-brown; }
#swatch-2{ background-color: @main-dark-blue; }
#swatch-3{ background-color: @main-light-blue; }
#swatch-4{ background-color: @main-dark-gray; }
#swatch-5{ background-color: @main-light-gray; }

/*********************
ANIMATION
**********************/

.show-animate{ background: @main-light-gray; padding: 1em; margin-bottom: 1em; }
.animate-fade{ .trans(.4s); 
	&:hover{ opacity: 0; }
}
.animate-move{ 
	> .animate-shape{ .trans(.8s); }
	&:hover > .animate-shape{ left: 100%; margin-left: -20px; }
}
.animate-shape{ top: 0; left: 0; bottom: 0; width: 20px; background: @main-dark-gray; }

/*********************
HEADINGS
**********************/

#heading{
	h1.headlines{ font-weight: 100; }
	h2.headlines,h3.headlines{ font-weight: 300; }
}

/*********************
BUTTONS
**********************/

.btn:active{

}

/*********************
Logo
**********************/
#Logo{
	.logo{ .block; width: 314px; height: 75px; background-image: url('img/Paperless Final Logo.svg'); background-size: cover; }
}

/*********************
Icons
**********************/
#icons{
	li{ .text-center; }
	i{ font-size: 3em; }
	span{ .block; }
}


/* ==|== Custom LESS Variables ===================================================== */

@main-brown: #d48236;
@main-dark-blue: #123d65;
@main-light-blue: #037aac;
@main-dark-gray: #4d4d4d;
@main-light-gray: #e6e6e5;

@style-border: #aaa;

@museosans: "museo-sans", Arial, sans-serif ;

// @metronic: "metronic-slab-narrow",sans-serif;
// @paganini: "paganini",sans-serif;
// @lustscript: "lust-script",sans-serif;
// @sans: "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;


/* ==|== Custom LESS Helpers ===================================================== */

.headlines{ font-family: @museosans; letter-spacing: .15em; .uppercase; }
.subhead{  }
.bodycopy{ font-family: @museosans; font-weight: 500; }

.blue-bg{ background-color:@main-light-blue; color: white;
  &:hover{ background-color: darken(@main-light-blue, 8%); color: white; }
  &:active{ background-color: darken(@main-light-blue, 15%); }
}
.brown-bg{ background-color:@main-brown; color: white;
  &:hover{ background-color: darken(@main-brown, 8%); color: white; }
  // &:active{ background-color: darken(@main-brown, 15%); }
}

a.btn{ border-radius: 50px; padding: .75em 2.53em; letter-spacing: .1em; 
	&:focus,&:hover{ color: white; }
}




label.hide-label{ .hide; }
.ie9 label.hide-label{ .block; }
.ie9 textarea.hide{ .block; }

.field-container{ padding-bottom: 1.5em; }

.jvFloat { position: relative; display: inline; margin-top: 1em; }

.jvFloat .placeHolder.required { color: red; }

.jvFloat .placeHolder { position: absolute; top: -10px; left: 0; .text-left; line-height: 1; width: auto; color: @main-dark-gray; font-size: .8em; font-weight: bold; -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -o-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); -webkit-transition: -webkit-transform 150ms, opacity 100ms, visibility 100ms; transition: transform 150ms, opacity 100ms, visibility 100ms; opacity: 0; visibility: hidden; }

.jvFloat .placeHolder.textarea {  }

.jvFloat .placeHolder.active { display: block; visibility: visible; -webkit-transform: translate(0, -1.1em); -moz-transform: translate(0, -1.1em); -o-transform: translate(0, -1.1em); -ms-transform: translate(0, -1.1em); transform: translate(0, -1.1em); -webkit-transition: -webkit-transform 100ms, opacity 120ms, visibility 120ms; transition: transform 100ms, opacity 120ms, visibility 120ms; opacity: 1; }

.jvFloat .placeHolder.focused{ color: @main-dark-gray; }

.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }



a.btn-rip{ /*general styling for all buttons*/
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  // box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15);
  text-shadow: none;
  transition: all .45s ease-out;
}

a.btn-rip.hovered { /*makes it 'elevate'*/
  transform: scale(1.0) !important;
}

.ripple{ /*stylings for the circular overlay*/
  position: absolute;
  border-radius: 100%;
  width: 0;
  height: 0;
  background: rgba(0,0,0, .15);
  transition: all .3s ease-out;
}

.notransition{ /*used to reset the ripple without an animatiion*/
  transition: none !important;
}

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @genericMobile{
}

@media @genericPhablet{
}

@media @genericPhone{ 
}

